.PeopleTable {
  border-collapse: collapse;
}

.link-man {
  color: blue;
}

.link-woman {
  color: red;
}

.sortedCollumn {
  background-color: gray;
}

.activePerson {
  background-color: yellowgreen;
}
